{% extends "base.html" %}
{% block content %}

A simple API is available through the use of a GET request to https://api.cvechk.net
<br />
Simply provide a particular operating system and one or more properly formatted CVE numbers.

<h2>Required Variables</h2>
<p>
CVE format should follow the standard CVE format (example: CVE-2017-0123).
<br/>
Other options are listed with valid input choices.
</p>

<p><b>cvelist</b></p>
<p><b>os</b> EL_6, EL_7</p>
<p><b>format</b> text, json</p>

<h2>Example API call:</h2>
curl "https://api.cvechk.net/?cvelist=CVE-2017-0123&os=EL7&format=text"

{% endblock %}
