{% extends "base.html" %}
{% block content %}

<h3>No information provided to this site is shared with third parties in any capacity.</h3>

<p>
This website collects the client IP address for the purposes of preventing abuse of the service.
</p>

<p>
Information entered in the form regarding CVE numbers is searched for CVE number patterns (CVE-xxxx-xxxx) and then discarded.
<br />
CVE numbers, applicable packages, and vendor information URLs are cached for 8 hours only to allow faster results for subsequent queries.
</p>

{% endblock %}
